# 1. Dependências de Frontend
frontend/vendor/ 

# 2. Dependências de Backend (PHP)
/vendor/

# 3. Dependências de Frontend (Node.js)
/node_modules/

# 4. Arquivos de Configuração e Ambiente
.env
.env.local
.env.*.local

# 5. Arquivos de Log
*.log
logs/

# 6. Arquivos de IDE e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db